/* PrismJS 1.29.0 https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript */
@font-face {
    font-family: PIXEL ;
    src: url(fonts/04B_03__.TTF);
}
a:link {color: rgb(124, 255, 244);}  
a:visited {color: rgb(124, 255, 244);}  
a:hover {color: #80f4ff}  
a:active {color: #ae82ff}  
*{
    font-family: 'PIXEL', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

body
{
    background-color:#000000;
}
h1
{
    margin-left: 10px;
}
h2
{
    margin-left: 10px;
}
h3
{
    margin-left: 25px;
}
code[class*=language-],pre[class*=language-]{
    color:#ccc;
    background:0 0;
    font-family: 'PIXEL', sans-serif;
    font-size:1em;
    text-align:left;
    white-space:pre;
    word-spacing:normal;
    word-break:normal;
    word-wrap:normal;
    line-height:1.5;
    -moz-tab-size:4;
    -o-tab-size:4;
    tab-size:4;
    -webkit-hyphens:none;
    -moz-hyphens:none;
    -ms-hyphens:none;
    hyphens:none;
}
pre[class*=language-]{
    padding:1em;
    margin:.5em 0;
    overflow:auto;
    font-family: 'PIXEL', sans-serif;
}

:not(pre)>code[class*=language-],pre[class*=language-]{
    background:	#282b30;
    border-radius: 15px;
    width: 590px;
}
:not(pre)>code[class*=language-]{
    padding:.1em;
    border-radius:.3em;
    white-space:normal;
    font-family: 'PIXEL', sans-serif;
}
.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog{
    color:#999
}
.token.punctuation{
    color:#ccc
}
.token.attr-name,.token.deleted,.token.namespace,.token.tag{
    color:#88a4ff
}
.token.function-name{
    color:#6196cc
}
.token.boolean,.token.function,.token.number{
    color:#f08d49
}
.token.class-name,.token.constant,.token.property,.token.symbol{
    color:#78efff
}
.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector{
    color:#cc99cd
}
.token.attr-value,.token.char,.token.regex,.token.string,.token.variable{
    color:#83ffb2
}
.token.entity,.token.operator,.token.url{
    color:#67cdcc
}
.token.bold,.token.important{
    font-weight:700
}
.token.italic{
    font-style:italic
}
.token.entity{
    cursor:help
}
.token.inserted{
    color:green
}
::-webkit-scrollbar
{
  width: 0px;
    border-radius: 100px;
}
#scrollPath
{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255,255,255,0.05);
    border-radius: 100px;
}
#progressbar
{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;

  background: linear-gradient(to top, #008aff,#00ffe7);
  animation: animate 5s linear infinite;
    border-radius: 100px;
}
@keyframes animate
{
  0%,100%
  {
    filter: hue-rotate(0deg);
  }
  50%
  {
    filter: hue-rotate(360deg);
  }
}
.loader {
    background: black;
    background: black;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999999999;
  }

  .loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }

  .loader-line-wrap {
    animation: 
    spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
  ;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
  }
  .loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }
  .loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
  .loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
  .loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
  .loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
  .loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

  .loader-line-wrap:nth-child(1) .loader-line {
    border-color: #f97583;
    height: 90px;
    width: 90px;
    top: 7px;
  }
  .loader-line-wrap:nth-child(2) .loader-line {
    border-color: #ffab70;
    height: 76px;
    width: 76px;
    top: 14px;
  }
  .loader-line-wrap:nth-child(3) .loader-line {
    border-color: #85e89d;
    height: 62px;
    width: 62px;
    top: 21px;
  }
  .loader-line-wrap:nth-child(4) .loader-line {
    border-color: #79b8ff;
    height: 48px;
    width: 48px;
    top: 28px;
  }
  .loader-line-wrap:nth-child(5) .loader-line {
    border-color: #b392f0;
    height: 34px;
    width: 34px;
    top: 35px;
  }

  @keyframes spin {
    0%, 15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
  }
#progressbar:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff,#00ffe7);
    border-radius: 100px;
  filter: blur(10px);
}
#progressbar:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff,#00ffe7);
  filter: blur(30px);
    border-radius: 100px;
}